dd {
  border-radius: 10px;
  border-top: 5px solid green;
  /* color: black */
  font-weight: 100;
  justify-content: space-between;
  justify-content: center;
  text-align: right;
  flex-direction: row;
  align-items: start;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  color: beige;
  color: bisque;
  color: blanchedalmond;
  color: rgb(244, 229, 209);
}
